body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(36, 59, 124, 0.04) !important;
  /* background-image: -webkit-linear-gradient(
    0deg,
    #884d80 0%,
    #9795f0 0%,
    #2b5876 0%,
    #4e4376 100%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control,
.form-select {
  border: 1px solid #e3e3e3 !important;
}
.redBorder {
  border: 1px solid red !important;
}

.red {
  color: red;
}

.card-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.form-label {
  font-size: 14px;
  color: #464646;
}

.select-input {
  color: "#666";
  font-weight: "500";
}

.upload-image-btn {
  z-index: 3;
  position: absolute;
  outline: none;
  width: 115px;
  height: 37px;
  border: 1px solid red;
  opacity: 0;
}
.fade {
  font-size: 13px;
}

.blanket-cover {
  background: red;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}
